h5 {
  font-family: "Lora", serif;
}

.btn {
  width: auto !important;
}

@media only screen and (max-width: 650px) {
  #user-card {
    height: 500px;
    width: 400px;
  }
}

@media only screen and (max-width: 375px) {
  #user-card {
    height: 500px;
    width: 400px;
  }
}
