ul {
  font-size: 20px;
  font-family: "Lora", serif;
}

.card {
  border-radius: 10px;
  background-color: transparent;
}

.container {
  padding: 20px;
  margin: 20px;
}

@media only screen and (max-width: 375px) {
  .card {
    height: 300px;
    width: 200px;
  }
}

@media only screen and (max-width: 650px) {
  #delete-button {
    font-size: 12px;
  }
  .card {
    height: auto;
    width: 100%;
  }
  .col {
    display: block;
    width: 100%;
  }
}
