h1 {
  font-family: "Handlee", cursive;
  /* font-family: "Lato", sans-serif; */
}

#registration-button {
  font-family: "Lato", sans-serif;
  /* background-color: blue; */
  margin-top: 10px;
  width: 30%;
}
