#registration-heading {
  font-family: "Eater", cursive;
}

#registration-login-button,
#registration-button {
  margin-left: 15%;
}

#registration-container {
  height: 1500px;
  overflow-y: scroll;
}
