nav {
  background-color: #b0c3b5;
  font-size: 35px;
  font-family: "Eater", cursive;
}

#nav-mobile {
  font-size: 35px;
  font-family: "Lora", serif;
}

.nav-link {
  font-size: 22px;
  font-family: "Lora", serif;
}
